body{
    background-color: #E7E7E7;
}
legend{
    font-size: 16px;
    border-bottom: 1px solid #969292;
}
input{
    background-color: #f8f8f8;
    width: 100%;
}
select{
    background-color: #f8f8f8;
}
.form-claim{

}
.form-claim h5{
    font-size: 12px;
    margin-top: 7px;
}
.form-employee h5{
    font-size: 12px;
    margin-top: 7px;
}
.form-employee legend{
    font-size: 14px;
}
form.form-claim table tr td {
    padding: 0px 10px 0px 10px;
}
select{
    height: 26px;
}