body{
    background-color: #E7E7E7;
}
legend{
    font-size: 20px;
    border-bottom: 1px solid #969292;
}
input{
    background-color: #f8f8f8;
    width: 100%;
}
select{
    background-color: #f8f8f8;
}
.form-claim{

}
.form-claim h5{
    font-size: 12px;
    margin-top: 7px;
}
.form-employee h5{
    font-size: 12px;
    margin-top: 7px;
}
.form-invoice h5{
    font-size: 12px;
    margin-top: 7px;
}
.form-employee legend{
    font-size: 14px;
}
form.form-claim table tr td {
    padding: 0px 10px 0px 10px;
}
select{
    height: 26px;
}
.report-logo{
    border-bottom: 3px solid black;
}
.report-logo-img{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.h6-printed-time{
    font-style: italic;
}
.claim-report-our-file{
    border-bottom: 1px solid black;
}
.percent-15{
    width: 15%;
}
.table-claim-report-info{
    font-size: 12px;
}
.text-bold{
    font-weight: 600;
}
.co-insurer{
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 4px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.table-claim-report-co-insurer{
    font-size: 12px;
}
.table-claim-report-reserves{
    font-size: 12px;
}
.padding-15{
    padding-left: 15%;
}
.table-claim-report-assist{
    font-size: 12px;
}
.assist{
    margin-top: 30px;
    border-top: 1px solid black;
    border-bottom: 4px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.table-claim-report-docket{
    font-size: 12px;
}
.docket{
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

form#trialFee h5{
    font-size: 12px;
}

/* Main */
.report{
    font-size: 16px;
    width: 1654px;
    background-color: gray;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transform: scale(0.700,0.700);
    -moz-transform: scale(0.700,0.700);
    -ms-transform: scale(0.700,0.700);
    -o-transform: scale(0.700,0.700);
    transform: scale(0.700,0.700);
    display: block;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
}
/* ---------------------------------------------- */
/* Page */
.bold{
    font-weight: 600;
}
.page{
    box-sizing: border-box;
    margin-top: 10px;
    background-color: white;
    width: 1654px;
    height: 2339px;
}
.content{
    box-sizing: border-box;
    width: 100%;
    height: 1863px;
}
.content-body{
    box-sizing: border-box;
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}


.claim-info{
    padding-top: 20px;
    box-sizing: border-box;
}
.claim-info-col-1{
    box-sizing: border-box;
    width: 18%;
    text-align: right;
    display: inline-block;
}
.claim-info-col-1 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.claim-info-col-2{
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
}
.claim-info-col-2 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
}
.claim-info-col-3{
    display: inline-block;
    box-sizing: border-box;
    width: 41%;
}
.claim-info-col-3-row-1{
    box-sizing: border-box;
    width: 100%;
}
.claim-info-col-3-row-1-col-1{
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    width: 60%;
}
.claim-info-col-3-row-1-col-1 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.claim-info-col-3-row-1-col-2{
    display: inline-block;
    box-sizing: border-box;
    width: 38%;
}
.claim-info-col-3-row-1-col-2 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
}

.claim-info-col-3-row-2{
    box-sizing: border-box;
    width: 100%;
}
.claim-info-col-3-row-2-col-1{
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    width: 33%;
}
.claim-info-col-3-row-2-col-1 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.claim-info-col-3-row-2-col-2{
    display: inline-block;
    box-sizing: border-box;
    width: 27%;
}
.claim-info-col-3-row-2-col-2 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
}
.claim-info-col-3-row-2-col-3{
    display: inline-block;
    box-sizing: border-box;
    width: 38%;
}
.claim-info-col-3-row-2-col-3 span{
    height: 21px;
    margin-top: 6px;
    display: block;
    font-size: 18px;
}

.co-insurers{
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}
.co-insurers-header{
    padding-top: 8px;
    height: 60px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
}
.co-insurers-header span{
    font-size: 32px;
    font-weight: 600;
}
.co-insurers-content{
    width: 100%;
    box-sizing: border-box;
}
.co-insurers-content-header{
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.co-insurers-content-header span{
    padding-left: 10px;
    margin-top: 6px;
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.co-insurers-content-header-percentage{
    text-align: center;
    width: 20%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
.co-insurers-content-header-bill-to-id{
    text-align: center;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}
.co-insurers-content-header-claims-officer{
    text-align: center;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}
.co-insurers-content-header-policy-number{
    text-align: center;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
}
.co-insurers-content-header-comp-claim-number{
    text-align: center;
    width: 19%;
    float: right;
    display: inline-block;
    box-sizing: border-box;
}
.co-insurers-content-body{
    padding-top: 7px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.co-insurers-content-body span{
    font-size: 18px;
}
.co-insurers-content-body-col{
    width: 20%;
    display: inline-block;
}
.co-insurers-content-body-col-last{
    width: 19%;
    display: inline-block;
    float: right;
}


.reserves{
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}
.reserves-header{
    padding-top: 8px;
    height: 60px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
}
.reserves-header span{
    font-size: 32px;
    font-weight: 600;
}
.reserves-content{
    width: 100%;
    box-sizing: border-box;
}
.reserves-content-header{
    line-height: 1.4;
    padding-top: 5px;
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.reserves-content-header span{
    margin-top: 6px;
    display: block;
    font-size: 16px;
}
.reserves-content-header-date{
    text-align: center;
    width: 9%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-third-party{
    text-align: center;
    width: 24%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-reserve{
    text-align: center;
    width: 14%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-adj{
    text-align: center;
    width: 11%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-pmt{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-exp{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-rec{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.reserves-content-header-total-inc{
    float: right;
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}


.assists{
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}
.assists-header{
    padding-top: 8px;
    height: 60px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
}
.assists-header span{
    font-size: 32px;
    font-weight: 600;
}
.assists-content-header{
    line-height: 1.4;
    padding-top: 5px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.assists-content-header span{
    padding-left: 12px;
    margin-top: 6px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
.assists-content-header-branch{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-header-adjuster-first-name{
    text-align: center;
    width: 35%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-header-adjuster-time{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-header-rate{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-header-fee-type{
    text-align: center;
    width: 10%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-header-date-added{
    float: right;
    text-align: center;
    width: 23%;
    display: inline-block;
    box-sizing: border-box;
}
.assists-content-body{
    padding-top: 10px;
}

.dockets{
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}
.dockets-header{
    padding-top: 8px;
    height: 60px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
}
.dockets-header span{
    font-size: 32px;
    font-weight: 600;
}
.dockets-content-header{
    line-height: 1.4;
    padding-top: 5px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}
.dockets-content-header-date{
    width: 8%;
    display: inline-block;
}
.dockets-content-header-branch-code{
    width: 5%;
    display: inline-block;
}
.dockets-content-header-adjuster-code{
    width: 9%;
    display: inline-block;
}
.dockets-content-header-code{
    width: 5%;
    display: inline-block;
}
.dockets-content-header-unit{
    width: 5%;
    display: inline-block;
}
.dockets-content-header-expense-code{
    width: 5%;
    display: inline-block;
}
.dockets-content-header-expense-amount{
    width: 7%;
    display: inline-block;
}
.dockets-content-header-note{
    width: 40%;
    display: inline-block;
}
.dockets-content-header-invoice-major-no{
    width: 5%;
    display: inline-block;
}
.dockets-content-header-invoice-date{
    width: 8%;
    display: inline-block;
}

/* ------------------------------------------------ */
/* Header */
.header{
    box-sizing: border-box;
    width: 100%;
    height: 372px;
}
.marginTop{
    box-sizing: border-box;
    height: 97px;
    width: 100%;
}
.logo{
    box-sizing: border-box;
    height: 197px;
    width: 100%;
    border-bottom: 6px solid black;
}

.logo-img{
    padding-top: 30px;
    width: 350px;
}
.claim-report{
    box-sizing: border-box;
    display: inline-block;
    padding-top: 10px;
    float: left;
}
.claim-report-text{
    margin-top: 10px;
    font-size: 35px;
}
.claim-report-print-date{
    font-size: 18px;
    font-style: italic;
}
.claim-report-outfile{
    padding-top: 10px;
    box-sizing: border-box;
    display: inline-block;
    float: right;
}
.ourFile{
    box-sizing: border-box;
    width: 100%;
    height: 78px;
    border-bottom: 1px solid black;
}
/* -------------------------------------------------- */
/* Footer */
.footer{
    box-sizing: border-box;
    width: 100%;
    height: 124px;
}
.marginBottom{
    box-sizing: border-box;
    height: 70px;
    width: 100%;
}

.paginate{
    padding-top: 5px;
    box-sizing: border-box;
    border-top: 4px solid black;
    width: 100%;
    height: 34px;
}

.footer-text{
    box-sizing: border-box;
    display: inline-block;
    font-style: italic;
    float: left;
}
.footer-number{
    box-sizing: border-box;
    display: inline-block;
    font-style: italic;
    float: right;
}
.footer-text-info{
    font-size: 17px;
}
.footer-text-number{
    font-size: 17px;
}
.TM{
    display: inline-block;
}
/* ----------------------------------- */
.claim-info{

}
label.error{
    color: #B52929;
}
[data-id=ourFile]{
    display: inline-block;
}

.element{
    text-align: center;
}
#docket-contain-page-1 .element{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#docket-contain-page-2 .element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#docket-contain-page-3 .element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#docket-contain-page-4 .element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#docket-contain-page-5 .element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#docket-contain-page-6 .element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.wip-header{
    padding-top: 30px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.wip-header-row-1{
    padding-top: 5px;
    border-top: 6px solid black;
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}
.wip-header-row-2{
    padding-top: 10px;
    height: 70px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    box-sizing: border-box;
    width: 100%;
}
.wip-header-row-1-left{
    box-sizing: border-box;
    float: left;
    display: inline-block;
    padding-top: 10px;
}
.wip-header-row-1-left span{
    font-size: 28px;
    font-weight: 600;
}
.wip-header-row-1-right{
    padding-top: 5px;
    box-sizing: border-box;
    float: right;
    display: inline-block;
}
.wip-header-row-1-right span{
    font-size: 16px;
    font-style: italic;
}
.wip-header-row-2-left{
    padding-left: 5%;
    width: 50%;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}
.wip-header-row-2-right{
    padding-left: 5%;
    width: 50%;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}
.as-of{
    display: inline-block;
}
.branch{
    display: inline-block;
}
.wip-header-row-2-left-row-1{
    
}
.wip-header-row-2-left-row-2{
    
}
.wip-header-row-2-right-row-1{

}
.wip-header-row-2-right-row-2{
    
}
[data-id=print_date]{
    display: inline-block;
}
#assit-contain-page-1{
    padding-top: 10px;
}

#assit-contain-page-1 span{
    font-size: 18px;
}
#docket-contain-page-1{
    padding-top: 10px;
}
#docket-contain-page-1 span{
    font-size: 18px;
}
#docket-contain-page-2{
    padding-top: 10px;
}
#docket-contain-page-2 span{
    font-size: 18px;
}
#docket-contain-page-3{
    padding-top: 10px;
}
#docket-contain-page-3 span{
    font-size: 18px;
}
#docket-contain-page-4{
    padding-top: 10px;
}
#docket-contain-page-4 span{
    font-size: 18px;
}
#docket-contain-page-5{
    padding-top: 10px;
}
#docket-contain-page-5 span{
    font-size: 18px;
}
#docket-contain-page-6{
    padding-top: 10px;
}
#docket-contain-page-6 span{
    font-size: 18px;
}
#invoice_print_page{
    -webkit-transform: scale(0.960,0.960);
    -moz-transform: scale(0.960,0.960);
    -ms-transform: scale(0.960,0.960);
    -o-transform: scale(0.960,0.960);
    transform: scale(0.960,0.960);
    display: block;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    height: 1684px;
    width: 1190px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
}
.invoice-logo{
    width: 100%;
    display: block;
}
.invoice-logo-img{
    margin-left: 70%;
    display: block;
    width: 250px;
    height: auto;
    margin-right: 80px;
}
.fee-statement{
    display: block;
    text-align: center;
}
.fee-statement h3{
    text-decoration: underline;
}
